.card {
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 25px 35px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 35px rgba(hsl(180, 29%, 50%), 0.3);
}


.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex: 2;
}

.name_badges {
    display: flex;
    align-items: center;
    gap: 20px;
}

.company_name {
    color: hsl(180, 29%, 50%);
    font-weight: 700;
    font-size: 15px;
}

.title {
    margin: 0;
    cursor: pointer;
    transition: color 0.2s;
    font-size: 17px;
    display: inline;

    &:hover {
        color: hsl(180, 29%, 50%);
    }
}

.stats {
    display: flex;
    gap: 10px;
    color: hsl(180, 8%, 52%);
    font-size: 15px;
}

.tags {
    display: flex;
    gap: 20px;
}