.wrapper {
    margin: 0 10%;

    @media (max-width: 450px) {
        margin: 0 5%;
    }
}

.container {
    max-width: 1000px;
    background-color: white;
    margin: -30px auto 25px;
    padding: 25px 35px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 10px 35px rgba(hsl(180, 29%, 50%), 0.3);

    @media (max-width: 450px) {
        padding: 20px;
    }

    span {
        color: hsl(180, 29%, 50%);
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.filters {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}